<div class="container">

  <section class="mt-5 card card-body">
    <%=  form_with model: @rover do | f |%>
      <div class="form-group mb-3">
        <%= f.label :file, 'File' %>
        <%= f.file_field :file, { class: 'form-control' } %>
      </div>
      <%= f.submit 'Enviar', { class: 'btn btn-success' } %>
    <% end %>
  </section>

  <section class="mt-5 card card-body">
    <h2 class="my-5">Lista de rovers</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Data de envio</th>
          <th scope="col">Resultado</th>
          <th scope="col">Download file</th>
        </tr>
      </thead>
      <tbody>
      <% @rovers.each do |rover| %>
        <tr>
          <td><%= l rover.created_at, format: :calendar %></td>
          <td><%= rover.result %></td>
          <td><%= link_to 'Download', url_for(rover.file) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
</div>