<!DOCTYPE html>
<html>
  <head>
    <title>Test Rover</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/navbar' %>
    </div>
  
    <div class="container">
    <% if  flash[:notice] %>
      <p class="my-4 alert alert-info text-center"><%= flash[:notice] %></p>
    <% end %>
    </div>
  
    <%= yield %>
  </body>
</html>
